.add-ingredient-page {
    h2 {
        margin: 25px auto;
    }
    .ingredient-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        max-width: 100%;
        margin-top: 20px;
    }
}
