@import "../../style/variables.scss";

.addmeal-page {
    .input-section{
        margin-bottom: 10px;
    }
    h2 {
        margin: 50px auto;
    }
    .ingredient-gest-container {
        margin: 20px 0;
    }
    .action-container {
        margin: 20px 0 20px 0;
        display: flex;
        justify-content: space-around;
        .actions {
            display: flex;
            gap: 10px;
        }
        .cta{
            @extend %button-cta;
        }
    }
    .recette-input {
        resize: none;
        width: 100%;
        min-height: 300px;
        padding: 5px;
    }
    .recap-ingredient-container {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        // .ingredient {
        //     flex: 1;
        // }
    }
}
