.addmeal-page {
    h2 {
        margin: 50px auto;
    }
    .ingredient-gest-container {
        margin: 20px 0;
    }
    .action-container {
        margin: 20px 0 20px 0;
        display: flex;
        justify-content: space-around;
        .actions {
            display: flex;
            gap: 10px;
        }
    }
    .recette-input {
        resize: none;
        width: 100%;
        min-height: 300px;
    }
    .recap-ingredient-container {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .ingredient {
            display: flex;
            justify-content: space-between;
            width: 50%;
        }
    }
}
