.meal-detail-page {
    .recap-container-detail-page {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
    }
    .ingredient-gest-container {
        margin: 20px 0;
    }
    .ingredient-container-detail-page {
        margin: 15px 5px;
        .ingredient-list-detail-page {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    }
    .recette-container-detail-page {
        .recette-input {
            resize: none;
            width: 100%;
            min-height: 300px;
        }
    }
    .cta {
        display: flex;
        justify-content: center;
        margin: 20px auto;
        padding: 10px 20px;
        background-color: #f1c40f;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            background-color: #f39c12;
        }
    }
}
