@import '../../style/variables.scss';

.meal-card {
    // height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(255, 255, 255, 10%);
    transition: transform 0.3s;
    padding: 10px;
    background-color: lighten($color: $primary-color, $amount: 15%);
    h2 {
        text-align: center;
    }
    .meal-icon-container {
        display: flex;
        justify-content: space-around;
        .cta-icon {
            width: 30px;
            height: 30px;
            background-color: royalblue;
            padding: 5px;
            border-radius: 50%;
        }
        .cta-delete {
            background-color: red;
            cursor: pointer;
        }
    }
    .cta-details{
        @extend %button-normal;
        text-align: center;
        text-decoration: none;
        color: $white;
    }
    .cta-miam {
        @extend %button-cta;
    }
}
