@import '../../style/variables.scss';

.meal-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    border-radius: 3px;
    // box-shadow: 0 0 5px rgb(255, 255, 255, 10%);
    transition: transform 0.3s;
    padding: 10px;
    background-color: $secondary-color;
    h2 {
        text-align: center;
        min-height: 58px;
    }
    .meal-icon-container {
        display: flex;
        justify-content: space-around;
        .cta-icon {
            cursor: pointer;
            width: 30px;
            height: 30px;
            padding: 5px;
        }
        .cta-delete {
            filter: invert(84%) sepia(11%) saturate(791%) hue-rotate(33deg) brightness(95%) contrast(87%);
        }
    }
    .ingredient-container-mealcard{
        height: 150px;
    }
    .last-prep-container {
        margin-bottom: 10px;
        .nbOfDays {
            font-size: 1rem;
            text-decoration: underline;
            color: $yellow1;
        }
    }
    .cta-details{
        @extend %button-normal;
        text-align: center;
        text-decoration: none;
        color: $white;
    }
    .cta-miam {
        @extend %button-cta;
    }
}
