.meal-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(1fr, 450px));
    grid-auto-rows: minmax(500px, 500px);
    grid-gap: 15px;
}
