// colors :
$blue1: #133ba8;
$yellow1: #f1c40f;
$yellow2: #efd56d;
$orange1: #ff7f00;


$primary-color: #0D1821;
$secondary-color: #344966;
$tertiary-color: #B4CDED;
$quatuary-color: #F0F4EF;
$fifty-color: #BFCC94;


$onglet-background: #45454cbd;
// $background-color: #2A2D33;
// $tertiary-color: #cac0b3;
$black: #000000;
$white: #ffffff;
// $blue1: #133ba8;
// $yellow1: #f1c40f;
// $yellow2: #efd56d;
// $orange1: #ff7f00;
// $primary-color: #001233;
// $secondary-color: #ff5959;
// $secondary-color: #ff8c8c;
// $onglet-background: #45454cbd;
// $background-color: #314368;
// $tertiary-color: #cac0b3;
// $black: #000000;
// $white: #ffffff;
$red1: #d70808;
// $secondary-color: $secondary-color;
// $text-color: $tertiary-color;

// sizes :
$bar-height: 50px;

// elements :
//links for navbar
%active-link {
    background-color: $primary-color;
    scale: 1.1;
    padding: 5px;
    border-radius: 25%;
}

%button-normal {
    color: $white;
    border: 1px solid $fifty-color;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s, color 0.3s;
    background-color: transparent;

    @media screen and (min-width: 600px){
    &:hover {
        background-color: $fifty-color;
        border: 1px solid $fifty-color;
        color: $primary-color;
    }   
    }
}

%button-cta {
    background-color: $fifty-color;
    color: $primary-color;
    border: 1px solid $fifty-color;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
        color: $black;
    }
}

%input-text {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: $black;
    background-color: $white;
    border: 2px solid $primary-color;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
    &::placeholder {
        color: $white;
    }
    &:focus {
        border-color: $secondary-color;
        box-shadow: 0 0 5px $secondary-color;
        outline: none;
    }
    &:disabled {
        background-color: $tertiary-color;
        border-color: $tertiary-color;
        cursor: not-allowed;
    }
}

// animations : //
%fadeIn {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        background-color: transparent;
    }
    to {
        opacity: 1;
        background-color: $yellow2;
    }
}
